template(name="intro")
   #intro.section.scrollspy
      .container
         .row
            iframe#soundcloud(width='100%', height='400', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2043359&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&visual=true')

         .row
            .col.s12
               each intro
                  +intro_top



//
template(name="intro_top")
   if Session 'editingIntroTitle'
      if currentUser
         +InputHelper(attribute="mdTitle" document=this collection="intro"
         class='form-control' placeholder=mdTitle id=this)
      else
         +intro_title
   else
      +intro_title

//
template(name="intro_title")
   if mdTitle
      h5.center.intro-text.open-sans(name="mdTitle" class="{{#if currentUser}}edit{{/if}}")
         +markdown
            #{mdTitle}


