// TODO: Split up + namespace

template(name="navbar")
    // Navigation
    // TODO: #top ?
    .navbar-fixed
        nav.z-depth-3(role='navigation' class="{{Session 'theme'}}")
            .container
                .nav-wrapper
                    //ul.left
                        li
                            img.responsive-img(src='img/bird.png')
                            | &nbsp;
                    a#logo-container.brand-logo.barkarby.title(href='#top' class="{{Session 'theme'}}-text")
                        | PREYBIRD
                    a.button-collapse(href='#', data-activates='nav-mobile')
                        i.mdi-navigation-menu

                    if currentUser
                        ul#sign-out
                            li
                                +account

                    ul#nav-mobile.side-nav
                        +nav_items_side
                    ul#nav-upper.hide-on-med-and-down.right
                        +nav_container

//
template(name="account")
    ul#account-dropdown.dropdown-content
        li
            a#sign-out Logga ut
    // Dropdown Trigger
    li
        a.dropdown-button(href='#!', data-activates='account-dropdown')
            if Session 'theme' eq='white'
                i.mdi-action-settings(class="black-text")
            else
                i.mdi-action-settings(class="white-text")



//
template(name="nav_container")
    each navbar
        if Session 'editingNavbar'
            if currentUser
                +InputHelper(attribute=affectedProperty document=this collection="navbar"
                class='form-control' id=this)

            else
                +nav_items
        else
            +nav_items

//
template(name="nav_items_side")
    each navbar
        +nav_items


//
template(name="nav_items")
    li
        a(href='#{{#unless currentUser}}{{intro.link}}{{/unless}}'
        name="intro" class="{{#if currentUser}}edit{{/if}}")
            if Session 'theme' eq='white'
                i.mdi-av-play-circle-outline(class="black-text")
            else
                i.mdi-av-play-circle-outline(class="white-text")
            //= intro.text TODO: Icon

    li
        a(href='#{{#unless currentUser}}{{work.link}}{{/unless}}'
        name="work" class="{{#if currentUser}}edit{{/if}}")
            if Session 'theme' eq='white'
                i.mdi-av-volume-up(class="black-text")
            else
                i.mdi-av-volume-up(class="white-text")
            //= work.text TODO: Icon

    li
        a(href='#{{#unless currentUser}}{{team.link}}{{/unless}}'
        name="team" class="{{#if currentUser}}edit{{/if}}")
            if Session 'theme' eq='white'
                i.mdi-social-people-outline(class="black-text")
            else
                i.mdi-social-people-outline(class="white-text")
            //= team.text TODO: Icon

    li
        a(href='#{{#unless currentUser}}{{contact.link}}{{/unless}}'
        name="contact" class="{{#if currentUser}}edit{{/if}}")
            if Session 'theme' eq='white'
                i.mdi-communication-email(class="black-text")
            else
                i.mdi-communication-email(class="white-text")
            //= contact.text TODO: Icon
